@model EventManagement_Frontend.Models.TicketModel

@{
    ViewData["Title"] = "Confirmation";
}

<h1>Confirmation</h1>

<div>
    <h4>TicketModel</h4>
    <hr />
    <dl class="row">

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalAmount)
        </dd>

        <a asp-controller="UserPayment" asp-action="Index" class="btn btn-primary">proceed Payment</a>
    </dl>
</div>
<div>
</div>