

@model EventManagement_Frontend.Models.TicketModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<h4>TicketModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <!-- Removed some form fields for brevity -->
            <div class="form-group">
                <label asp-for="NumberOfTickets" class="control-label"></label>
                <input asp-for="NumberOfTickets" class="form-control"  value="@Model.NumberOfTickets"/>
                <span asp-validation-for="NumberOfTickets" class="text-danger"></span>
            </div>
          @*   <div class="form-group">
                <label asp-for="TotalAmount" class="control-label"></label>
                <input asp-for="TotalAmount" class="form-control" value="@Model.TotalAmount" />
                <span asp-validation-for="TotalAmount" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
