body {
}
.payment-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
}

.payment-logos {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

    .payment-logos img {
        width: 50px;
    }

button[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

    button[type="submit"]:hover {
        background-color: #45a049;
    }
